sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - 8
  - 6
jobs:
  include:
    - stage: npm release
      if: branch = master AND type != pull_request
      node_js: '8'
      script:
        - npx semantic-release
branches:
  only:
    - master
